/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  }
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #000;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

/***** make text history gradually more transparent like on a phone; alternate line background color *****/

header {
  display: block;
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 20px;
}

h1 {
  font-weight: 500;
  color: #ecf0f1;
  font-size: 3em;
}

h1 span {
  font-weight: 700;
  color: #1abc9c;
}

h2 {
  font-weight: 400;
  color: #fff;
  font-size: 48px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

#userinput {
  width: 100%;
  height: 100%;
  display: block;
  padding: 20px;
  background: rgba(0,0,0,0.9);
  z-index: 10000;
  position: fixed;
}


#username {
  width: 90%;
  max-width: 800px;
  height: 100px;
  font-size: 2.5em;
  text-align: center;
  background: #fff;
  color: #000;
  margin: auto;
  position: absolute;
  left: 0; right: 0;
  border-radius: 15px;
}

#display {
  width: 100%;
  height: 500px;
  background: #fff;
  color: #000;
  font-size: 1.5em;
  overflow: scroll;
  position: relative;
  overflow-x: hidden;
  word-wrap: break-word;
}

#display li {
  display: block;
  background: #FAFAFA;
  padding: 20px;
  font-family: "Helvetica", arial, sans-serif;
}

#display li:nth-child(even) {
  background: #fff;
}

.input {
  width: 100%;
  height: 100px;
  border: none;
  position: absolute;
  z-index: 10000;
}

.text {
  display: block;
  width: 80%;
  height: 100%;
  float: left;
  background: #000;
  color: #fff;
  font-size: 2em;
  border: none;
  padding: 20px;
}

.send {
  width: 20%;
  display: block;
  height: 100%;
  float: left;
  cursor: pointer;
  background: #1abc9c;
  font-weight: 700;
  text-transform: uppercase;
  color: #1E2A36;
  border: none;
  font-size: 1.5em;
}

input:focus, button:focus {
  outline:0
}

.send:hover {
  opacity: 0.7;
}

.send:active {
  opacity: 0.2;
}


/* Media Queries */
@media screen and (max-width: 960px) {
  .text {
    width: 70%;
  }

  .send {
    width: 30%;
  }
}


@media screen and (max-width: 480px) {

}
